.product__media-image {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}

.card--card .card-information {
  padding: 27px 20px;
  display: flex;
  flex-direction: column;
}

.card-heading {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  /* min-height: 34px; */
}
.card-heading a {
  text-decoration: none;
  color: rgb(var(--color-foreground));
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  color: #262626;
  font-family: GeogrotesqueCondBoldWeb, Arial Black, Impact, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .025em;
}

@media (min-width: 768px) {
  .card-heading a {
      font-size: 16px;
  }
}


/* .product-card:hover .card-heading {
  text-decoration: underline;
  text-underline-offset: 2px;
} */

.product-card-child {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
}

.card-vendor {
  margin-top: 7px;
  color: rgb(var(--color-foreground));
  opacity: 0.7;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-color-swatches:empty {
  display: flex;
}

.product-color-swatches {
  display: flex;
  align-items: center;
  justify-content: var(--product-card-text-alignment);
  margin-top: 10px;
  min-height: 25px;
  margin-bottom: 10px;
}

.color-swatches {
  display: flex;
  gap: 5px;
  margin: 8px 0;
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: border 0.2s ease;
  margin-right: 5px;
  overflow: hidden;
}

.color-swatch img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.color-swatch.selected {
  border: 1px solid #000;
}

.color-swatch:hover {
  border-color: #000;
}

.color-swatch:last-child {
  margin-right: 0px;
}

.swatch-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}

.card-pricing {
  /* margin-top: 10px; */
  height: 100%;
}

.card--standard .card-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 20px 24px 42px;
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1024px) {
  .card--standard .card-information {
      gap: 10px;
      padding: 16px 8px 24px;
  }
}

.card--standard .price--on-sale .price__sale {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-card {
  position: relative;
  text-align: var(--product-card-text-alignment);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.product-card.card--card {
  border: var(--product-card-border-width) solid rgba(var(--color-foreground), var(--product-card-border-opacity));
  border-radius: calc(var(--product-card-corner-radius) - 5px);
}

.product-card.card--card:after,
.product-card.card--standard .card-media:after {
  content: '';
  position: absolute;
  width: calc(var(--product-card-border-width) * 2 + 100%);
  height: calc(var(--product-card-border-width) * 2 + 100%);
  top: calc(var(--product-card-border-width) * -1);
  left: calc(var(--product-card-border-width) * -1);
  border-radius: calc(var(--product-card-corner-radius) - 5px);
  box-shadow: var(--product-card-shadow-horizontal-offset) var(--product-card-shadow-vertical-offset) var(--product-card-shadow-blur-radius)
    rgba(var(--color-shadow), var(--product-card-shadow-opacity));
}

.product-card.card--card .card-media {
  overflow: hidden;
}

.card-media {
  display: flex;
  position: relative;
  align-items: stretch;
  width: calc(100% - 2 * var(--product-card-image-padding));
  margin: var(--product-card-image-padding);
  border-radius: calc(var(--product-card-corner-radius) - var(--product-card-border-width) - 5px);
}

/* .product-card.card--standard .card-media-child {
  width: 100%;
  max-width: 244px;
  height: 297px;
  border-radius: calc(var(--product-card-corner-radius) - var(--product-card-border-width) - 5px);
} */

.card-media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.product-card.card--standard .card-media {
  border: var(--product-card-border-width) solid rgba(var(--color-foreground), var(--product-card-border-opacity));
  border-radius: calc(var(--product-card-corner-radius) - 5px);
  box-sizing: border-box;
}

.card-media:before {
  content: '';
  width: 0;
  height: 0;
  padding-bottom: var(--media-ratio);
}

.card-media-child {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.card-media-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
}

/* .product-card .card-media img {
  transition: transform 0.5s ease;
}

.product-card:hover .card-media img {
  transform: scale(1.03);
} */

.product-card__badge{
  color: #f50a99;
  text-transform: uppercase;
  font-family: BaseMonoWideWeb, Courier, Courier New, sans-serif;
  font-weight: 700;
  font-size: 10px;
}

@media screen and (min-width: 1024px) {
  .product-card__badge {
      font-size: 16px;
      line-height: 1;
  }
}

.card-badge-wrapper {
  display: flex;
  width: 100%;
  padding: 26px 27px;
}
@media (max-width: 768px) {
  .card-badge-wrapper {
    padding: 15px 16px;
  }
}
.card__badge {
  z-index: 1;
}

.card-badge-wrapper.right {
  justify-content: flex-end;
}

.card__badge.top {
  align-self: flex-start;
}

.card__badge.bottom {
  align-self: flex-start;
}

.product__card-award {
  background-size: cover;
  border-radius: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 4;
    height: 80px;
    width: 80px;
    top: 24px;
    left: 24px;
  }

  @media (max-width: 1024px) {
    .product__card-award {
        height: 40px;
        width: 40px;
        top: 16px;
        left: 16px;
    }
}

@media (max-width: 768px) {
  /* .product-card.card--standard .card-media-child {
    width: 100%;
    max-width: 165px;
    height: auto;
  } */
  .card--standard .card-information {
    padding-top: 17px;
  }
  .card-heading{
    font-size: 1.6rem;
  }
}

.product-card__image-wrapper {
  /* position: relative; */
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-color: #f5f5f5;
  transition: transform .9s ease-in-out;
}

.product__card_stars-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .product__card_stars-button-container {
      gap: 10px;
  }
}

.product__card_stars-button-container .quick-add{
  margin: 0;
}

.product-card__reviews {
  font-family: RingsideWideWeb, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: .25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.product-card__review-count {
  font-size: clamp(10px, .972vw, 14px);
  letter-spacing: 0px;
  font-weight: 325;
  line-height: 1;
  white-space: nowrap;
  color: #000;
  font-family: RingsideWideWeb, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.product__card-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 2px;
  transition-property: background, color, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

.product-card:hover .product__card-button{
  color: black;
  background: white;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}


.product-card:hover .product__card-button--price{
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.product__card_stars-button-container .product__card-button {
  display: flex;
}

.product__card-button--text{
  font-family: BaseMonoWideWeb, Courier, Courier New, sans-serif;
  font-size: 10px;
  width: 100%;
  flex-shrink: 1;
}

.product__card-button--price {
  font-family: BaseMonoWideWeb, Courier, Courier New, sans-serif;
  font-size: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid #fff;
  padding: 0 8px;
  white-space: nowrap;
  flex-shrink: 0;
  transition-property: border;
  transition-duration: .3s;
  transition-timing-function: 0 ease-in-out;
}

@media (min-width: 1024px) {
  .product__card-button {
      height: 35px;
      width: 90%;
  }
}

.product-first-image{
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.product-second-image{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.product-card:hover .product-first-image{
  opacity: 0;
}


.product-card-image-section .swiper-pagination-bullet-active{
  background: #000;
}